
svg:hover {
    fill: #4c2882;
  }

.footer-container{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 75px;
}
.centrados{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}